/* main div{
        flex-direction: column;
        position: relative;
    }
    main div img{
        display: block;
        position: absolute;
        width:fit-content;
    }
    header nav ul li a{
        flex-direction:column;
        float: right;
        position: relative;
    }*/
    .genero{
        display: block;
        position: absolute;
        top:18px;
        left:32px;
        border-radius: 65%;
    } 
    .content-left{
        max-width: fit-content;
    }
    .content-right{
        display: block;
        position: absolute;
    }
